body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(206, 212, 226);
    color: white
}

header {
    background-color: rgb(21, 29, 26);
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f1ebd5;
    padding: 15px;
    text-align: center;
}

main {
    padding: 30px;
}

section {
    background-color: rgb(28, 51, 66);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.conteudo-modulo {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.conteudo-modulo img {
    width: 400px;
    border-radius: 8px;
}

.intro figure {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro p {
    color: rgb(0, 0, 0);
    font-size: 1.6em;
}

.intro img {
    width: 30%;
    border-radius: 8px;
    align-items: center;
}

span {
    color: #569cd6;
    font-size: 22px;
    font-weight: bold;
    font-family: Consolas, monospace;
}


.sumario a {
    color: white;
    text-decoration: none;
}

.sumario a:visited {
    color: white;
}

.sumario a:hover {
    color: #00bfff;
    cursor: pointer;
}

.sumario h3 {
    margin-top: 0;
}

.sumario li {
    margin-bottom: 8px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}